<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        html{height: 100%; width: 100%;}
        body{height: 100%;}
        .navbar{ border-radius: 0; background-color: #ec971f; color:white;border-color: #eea236;}
        .white, .white a {
            color: #fff;
        }
        .navbar-toggle{ border-color: white;}
        .navbar-right a { padding-top: 15px; background-color: #ec971f; border-color: #ec971f;}
        .btn :active:hover {border-color: #ec971f; }
        .btn-lg{
            width:100%;
        }
        /*	@media screen and (min < 1024px){
                .col-sm-3{
                    width: 100%;
                    padding-top: 5px;
                }

            }*/
    </style>
</head>
<body>
<% include ../partials/nav-bar.ejs %>
<div class="container">

</div>

</body>
</html>
